
{% extends 'hobbyapp/base.html' %}

{% block content %}
<style>
.containerImg {
    background-color: {{ user_profile.color }};
}
</style>


<div class="containerImg">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div id="tag-container" style="position: fixed; z-index:1; margin-left:30px;">
                    <form action="" method="GET" class="d-flex">
                        <input class="form-control me-sm-2" type="search" name="tag" id="tag-input" list="tag-list" placeholder="Filter Posts...">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        <datalist id="tag-list"> </datalist>
                    </form>

                </div>
                <div class="row" style="margin-top: 60px">
                    {% for post in posts_objects %}
                        <div class="col-12">
                            <div class="card">
                                <img src="{{ post.picture.url }}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'profile' post.user.id %}" style="color: white">{{ post.user.username }}</a>
                                    </h5>
                                    <hr>
                                    <form method="POST" action="{% url 'like_post' post.id %}">
                                        {% csrf_token %}
                                        {% if user in post.likes.all %}
                                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>
                                        {% else %}
                                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-info">Like</button>
                                        {% endif %}
                                        <span>{{ post.likes.count }} Likes</span>
                                    </form>
                                    <p class="card-text">
                                        <p>{{ post.caption }}</p>
                                        <small class="text-muted">Posted on {{ post.post_time }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-right: 20px;">
                {% if posts_objects.has_previous %}
                 <a class="page-link" href="?page=1">Top</a>
                 <a class="page-link" href="?page={{posts_objects.previous_page_number}}">/\</a>

                {% endif %}
                {% if posts_objects.has_next %}
                 <a class="page-link" href="?page={{posts_objects.next_page_number}}">\/</a>
                {% endif %}
                Page: {{posts_objects.number }} of {{posts_objects.paginator.num_pages }}
             </div>
        </div>
    </div>
</div>
{% endblock %}

