{% extends 'hobbyapp/base.html' %}

{% block content %}
<style>
.containerImg {
    background-color: {{ user_profile.color }};
}
</style>


<div class="containerImg">
    <div class="row">
        <div class="col-md-11 bio-item">
            <div class="row">
                <div class="col-md-8">
                    <div class="profile-image">
                        <img src="{{ user_profile.profile_pic.url }}" class="img-thumbnail primary" >
                    </div>
                    <h2>{{ user_profile.user.username }}</h2>
                    <hr class="border-white">
                    <p>{{ user_profile.bio }}</p>
                </div>
                 <div class="col-md-4">
                     <h5 class="settings">Friends: {{ user_profile.friends.count }}</h5>
                     <br>
                     <h5 class="settings">Posts: {{user.post_set.all.count}}</h5>
                     <br>
                     <h5 class="settings">Hobbies: {{user_profile.tags.count}}</h5>
                    <br>
                    {% if request.user.id == user_profile.user.id %}
                         <a class="nav-linkbio" href="{% url 'edit_profile' user.id %}"><h6>Edit Profile</h6></a>
                         <a class="nav-linkbio" href="{% url 'add_post' %}"><h6>Add Post</h6></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


 <div class="row">
        <div class="col-md-11 bio-item">
            <div class="row">
                <div class="col-md-8">
                    <h2>Posts</h2>
                {% for post in user.post_set.all %}
                    <div class="card lg-3">
                        <img src="{{ post.picture.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Likes:{{post.likes.count}}</h5>
                            <p class="card-text">
                                <p>{{ post.caption }}</p>
                                <small class="text-muted">Posted on {{ post.post_time }}</small>
                            </p>
                        </div>
                    </div>
            {% endfor %}
                </div>
                <div class="col-md-4">
                <h2 class="tagLabel">Tags</h2>
                    <hr>
                    <ul class="tag-box">
                        {% for tag in user_profile.tags.all %}
                            <li class="tag-item">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
