


.profile-image img {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.navbar-brand img {
    margin-left: 20px;
    size:auto;
}

nav {
    margin-bottom: 10px;
}

.nav-linkbio {
    color: grey !important;
    text-align: Right !important;
    margin-right: 100px !important;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.bio-item {
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0 auto;
}

.bio-item {
    background-color: black;
    padding: 10px;
    margin-left: 30px;
    margin-top: 15px !important;
    margin-bottom: 20px;
    border: 1px solid #ddd;

}

.space {
    margin-top:150px;
}

.card{
        border-color: #8d8d8d !important;
}

.card-body{
    background-color: black !important;

}

p, .card-text, .card-title{
    color: white !important;
}

.settings {
    text-align: Right !important;
    margin-right: 50px !important;
}


.tagLabel{
    color: white !important;
    text-shadow: 2px 2px black;

}


small.text-muted{
    color:white !important;
}


.msg_time {
     font-size: 10px !important;
}

.msg_time_send {
     font-size: 10px !important;
}

.msg_cotainer {
    background-color: dimgray;
}

.msg_cotainer_send {
    background-color: dimgray;
}

.containerImg {
    padding-top: 120px;
    margin-left:30px;
    width: auto;
    background-size: 100%;
    min-height: 100vh;
}

.containerImg p, .containerImg h2, .containerImg h3, .containerImg h6, .containerImg h5, .containerImg li {
    color: white;
    font-weight: bold;
    margin: 20px;
}

.list-group-item{
    background-color: black !important;
    min-height: 65px;
}
.list-group-item p {
    margin: 5px !important;
    font-size: 18px;
}

.h_Add_Friend {
    background-color: black!important;
    padding:10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

